@import "tailwindcss";
body{
 background-color:#0B0E17  ;
}
@keyframes fall {
  0%, 20%, 100% { transform: translateY(0); opacity: 0.5; }
  50% { transform: translateY(20px); opacity: 1; }
}

.animate-fall {
  animation: fall 1s infinite ease-in-out;
}
